
@media screen and (max-width:640px) {
    .identif{
        width: 100%;
        margin-top: 60px;
    }
    .home{
        width: 100%;
        margin-top: 60px;

    }
}
@media screen and (max-width:1024px) and (min-width:640px) {
    .identif{
        width: 70%;
        margin-top: 60px;
        margin-left: 20%;
    }
    .home{
        width: 80%;
        margin-top: 60px;
        margin-left: 10%;
    }
}
@media screen and (min-width:1024px) {
    .identif{
        width: 50%;
        margin-top: 60px;
        margin-left: 20%;
    }
    .home{
        width: 80%;
        margin-top: 60px;
        margin-left: 10%;
    }
}

.registro{
    width: 70%;
    margin-top: 60px;
    margin-left: 10%;
}
ul.pagination li a {
    color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}


